In [1]:
def test():
    print("Hi")

In [2]:
test()

Hi

In [3]:
def test1():
    pass

In [4]:
test()+"Everyone"

Hi

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [ ]:
def test2():
    return "Hi"

In [ ]:
test2() + " Everyone"

'Hi Everyone'

In [ ]:
# We can return more than one data type:-
def test3():
    return 18, "DS", 3.14

In [ ]:
test3()

(18, 'DS', 3.14)

In [ ]:
type(test3())

tuple

In [ ]:
test3()[1]

'DS'

In [ ]:
a, b, c = test3()

In [ ]:
a

18

In [ ]:
b

'DS'

In [ ]:
c

3.14

In [ ]:
def test4():
    a = 3*4 + 6
    return a

In [ ]:
test4()

18

In [ ]:
type(test4())

int

In [ ]:
def test5(a, b):
    c = a**b
    return c

In [ ]:
teat5(2, 3)

8