OOPS:- Object Oriented Programming System

In [1]:
a = 18
print(type(a))

<class 'int'>

In [2]:
print(type("DS"))

<class 'str'>

In [3]:
class test:
    pass

In [4]:
a = test()
print(type(a))

<class '__main__.test'>

In [5]:
class greet:
    def welcome_msg(self):
        print("Welcome Everyone.")

In [6]:
Dev = greet()
Dev.welcome_msg()

Welcome Everyone.

In [9]:
class first:
    def __init__(self, phone, name, student_id):
        self.phone = phone
        self.name = name
        self.student_id = student_id

    def return_details(self):
        return self.student_id, self.name, self.phone

In [11]:
shyam = first(3245456423, "Shyam", 24462)

In [12]:
shyam

In [13]:
print(shyam)

<__main__.first object at 0x000001D59CBE7590>

In [14]:
shyam.phone

3245456423

In [15]:
shyam.student_id

24462

In [17]:
shyam.return_details()

(24462, 'Shyam', 3245456423)

In [19]:
# self is not a keyword. It is a reference only.
class second:
    def __init__(ds, phone, name, student_id):
        ds.phone = phone
        ds.name = name
        ds.student_id = student_id

    def return_details(ds):
        return ds.student_id, ds.name, ds.phone

In [20]:
ram = second(65693245, "Ram", 21654)

In [21]:
ram.student_id

21654

In [22]:
ram.return_details()

(21654, 'Ram', 65693245)

In [23]:
class third:
    def __init__(ds, phone, name, student_id):
        ds.phone1= phone
        ds.name = name
        ds.student_id = student_id

    def return_details(ds):
        return ds.student_id, ds.name, ds.phone

In [24]:
rohan = third(4654768, "Rohan", 12487)

In [25]:
rohan.phone

AttributeError: 'third' object has no attribute 'phone'

In [26]:
rohan.phone1

4654768

In [27]:
rohan.return_details()

AttributeError: 'third' object has no attribute 'phone'

In [30]:
class third:
    def __init__(ds, phone, name, student_id):
        ds.phone1= phone
        ds.name = name
        ds.student_id = student_id

    def return_details(ds):
        return ds.student_id, ds.name, ds.phone1

In [32]:
rohan = third(4654768, "Rohan", 12487)

In [33]:
rohan.return_details()

(12487, 'Rohan', 4654768)

Polymorphism :-